<table class="table table-bordered">
  <tr>
      <th style="width: 300px">文章標題</th>
      <th>發佈企業</th>
      <th>發佈日期</th>
      <th>瀏覽次數</th>
      <th>收藏次數</th>
      <th style="width: 140px"></th>
  </tr>
  <% articles.each do |article|%>
    <tr>
      <td>
        <%= truncate(article.title, length: 23) %>
      </td>
      <td>
        <%= article.company.name%>
      </td>
      <td>
        <%= article.created_at.localtime.strftime("%Y/%m/%d")%>
      </td>
      <td class="count"></td>
      <td class="count"></td>
      <td>
        <%= link_to article_path(article), target: "_blank" , :class => "btn btn-success btn-xs" do %>
          <i class="fa fa-file-text-o"></i>
          <span>查看</span>
        <% end %>

        <%= link_to edit_admin_article_path(article), :class => "btn btn-primary btn-xs" do %>
          <i class="fa fa-edit"></i>
          <span>編輯</span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>