<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="unit">
    <div class="page-title">
      <h2>編輯文章</h2>
      <div class="bolded-line"></div>
    </div>
    <br>
    <%= form_for @article ,:url => admin_article_path(@article), :method => :patch do |j|%>
      <div>
        <%= j.label :title, "標題" %>
        <%= j.text_field :title %>
      </div>
      <div>
        <%= j.label :content, "內容" %>
        <%= j.cktext_area :content, :ckeditor => {:language => 'zh-tw'} %>
      </div><br>
      <div>
        <%= j.label :banner, "上傳封面圖片" %>
        <%= j.file_field :banner %>
      </div><br>
      <div class="login">
        <%= j.submit "修改", :class => "button btn-success medium" %>
        <%= link_to '返回', admin_articles_path, :class => "button btn-fail medium" %>
			</div>
    <% end %>
  </div>
</div>
<div class="col-sm-2"></div>