<p>編輯文章</p>

<%= form_for @article ,:url => admin_article_path(@article), :method => :patch do |j|%>
  <%= j.label :title %>
  <%= j.text_field :title%>
  <br>
  <%= j.label :content %>
  <%= j.text_area :content %>
  <br>
  <%= j.submit "確認"%>
  <%= link_to "取消", home_path %>
<% end %>