<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="page-title">
    <h2>文章總覽</h2>
    <div class="bolded-line"></div>
  </div>
  <div class="company-search-block clearfix">
    <%= form_tag articles_path, method: :get, class:'clearfix' do %>
      <div class="col-sm-5">
        <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
      </div>
      <div class="col-sm-2 company-search-btn">
        <%= submit_tag "搜尋", name: nil , class:'button btn-success small' %>
      </div>
    <% end %>
  </div>

  <ul class="article clearfix">
    <% @articles.each do |article| %>
    <li>
      <%= link_to article_path(article) do %>
        <%= image_tag article.banner_url(:image), style:"width:100%;" if article.banner_url %>
      <% end %>
      <div style="padding: 15px;">
        <div class="article-title">
          <%= link_to article.title , article_path(article) %>
        </div>
        <div class="article-content">
          <%= simple_format(article.content) %> 
        </div>
        <span class="article-view">
          <i class="fa fa-eye"></i>&nbsp;
          <%= article.view_count %>
        </span>
        <%= link_to root_path, :class => "btn btn-danger btn-xs pull-right" do %>
          <i class="fa fa-heart"></i>
          <span>&nbsp;收藏</span>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<div class="col-sm-2"></div>