<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <div class="page-title">
    <h2>圖表分析</h2>
    <div class="bolded-line"></div>
  </div>
  <div style="display: none;">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>標籤類別</th>
          <th>性別</th>
          <th>人數</th>
        </tr>
      </thead>
      <tbody>
        <% @exe.each do |tag| %>
        <tr class="tags">
          <th class="tagName"><%= tag.name %></th>
          <th class="gender"><%= tag.gender == 1 ? "男" : "女"%></th>
          <th class="number"><%= tag.count %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



  <h3 style="text-align: center; font-size: 16pt; margin-bottom: 10px;">公司中各職缺年齡層分佈</h3>
    <%= form_tag admin_analysis_path, :method => :get do %>
      <div class="col-xs-10">
        <%= select_tag "company",
                       content_tag(:option,'',:value=>"0") +
                       options_for_select(Company.pluck(:name, :id), params[:company]? params[:company] : 0)
        %>

      </div>
      <div class="col-xs-2">
        <%= submit_tag '確認',class:"btn btn-success", style:'height:38px;' %>        
      </div>
    <% end %>

  <table class="table table-bordered table-hover" style="margin-bottom: 40px;">
    <thead>
      <tr>
        <th>年齡</th>
        <th>職缺</th>
        <th>應徵人數</th>
      </tr>
    </thead>
    <tbody>
      <% @exe2.each do |job| %>
      <tr>
        <th><%= job.age%> 歲</th>
        <th><%= job.job_name %></th>
        <th><%= job.count1 %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
  <!-- <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div> -->

</div>
<div class="col-sm-1"></div>


<script type="text/javascript">

  maleArray = [];
  femaleArray = [];
  var tagName = [];
  var init = "";
  var initgender = "男"

  $('.tags').map(function(e){
    var tag = $(this).find(".tagName").html();
    var gender = $(this).find(".gender").html();
    var number = $(this).find(".number").html();

    if(gender == "男" && gender != initgender){
      maleArray.push(parseInt(number));
    } else if(gender == "女" && gender != initgender){
      femaleArray.push(parseInt(number));
    } else if(initgender == "女"){
      maleArray.push(0);
      femaleArray.push(parseInt(number));
    } else if(initgender == "男"){
      femaleArray.push(0);
      maleArray.push(parseInt(number));
    }

    if(tag != init){
      tagName.push(tag);
    }
    init = tag;
    initgender = gender;
  });

  Highcharts.chart('container', {

    chart: {
        type: 'column'
    },

    title: {
        text: '標籤與男女投遞履歷關係'
    },

    xAxis: {
        // categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
        categories: tagName
    },

    yAxis: {
        allowDecimals: false,
        min: 0,
        title: {
            text: '人數'
        }
    },

    tooltip: {
        formatter: function () {
            return '<b>' + this.x + '</b><br/>' +
                this.series.name + ': ' + this.y + '<br/>' +
                'Total: ' + this.point.stackTotal;
        }
    },

    plotOptions: {
        column: {
            stacking: 'normal'
        }
    },

    series: [{
        name: '男',
        data: maleArray,
        stack: 'male'
    }, {
        name: '女',
        data: femaleArray,
        stack: 'female'
    }]
});

</script>