<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="unit">
    <div class="page-title">
      <h2>編輯企業資訊</h2>
      <div class="bolded-line"></div>
    </div>
    <br>
    <%= form_for @company ,:url => admin_company_path, :method => :PATCH do |j|%>
      <div>
        <%= j.label :name, "企業名稱" %>
        <%= j.text_field :name%>
      </div>
      <div>
        <%= j.label :phone, "聯絡電話" %>
        <%= j.text_field :phone %>
      </div>
      <div>
        <%= j.label :email, "Email" %>
        <%= j.text_field :email %>
      </div>
      <div>
        <%= j.label :address, "聯絡地址" %>
        <%= j.text_field :address %>
      </div>
      <div>
        <%= j.label :about, "關於" %>
        <%= j.text_area :about, rows: "3" %>
      </div>
      <!-- <div> -->
        <%#= j.label :user_ids, "HR 帳號設定" %>
        <%#= j.collection_select(:user_ids, User.all, :id, :email) %>
      <!-- </div> -->

      <div class="login">
        <%= j.submit "修改", :class => "button btn-success medium" %>
        <%= link_to '返回', home_path, :class => "button btn-fail medium" %>
			</div>
    <% end %>
  </div>
</div>
<div class="col-sm-2"></div>

