<div class="col-sm-1"></div>
<div class="col-sm-10">
  <div class="page-title">
    <h2>企業管理</h2>
    <div class="bolded-line"></div>
    <%= link_to new_admin_company_path, :class => "btn btn-success btn-sm" do %>
      <i class="fa fa-plus"></i>
      <span>&nbsp;新增企業</span>
    <% end %>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th style="width: 200px">名稱</th>
        <th>瀏覽次數</th>
        <th>應徵次數</th>
        <th>收藏次數</th>
        <th style="width: 320px"></th>
      </tr>
    </thead>
    <tbody>
      <% @company.each do |c|%>
    
        <tr>
          <td><%= c.name %></td>
          <td><%= c.views_count %></td>
          <td><%= c.resume_count%> </td>
          <td></td>
          <td>
            <%= link_to admin_company_path(c), :class => "btn btn-success btn-xs" do %>
              <i class="fa fa-file-text-o"></i>
              <span>查看詳細資訊</span>
            <% end %>

            <%= link_to edit_admin_company_path(c), :class => "btn btn-primary btn-xs" do %>
              <i class="fa fa-edit"></i>
              <span>編輯</span>
            <% end %>

            <!--要做停權，禁止公司可以新增職缺--> 

            <% if c.account_status != 'banned' %>
              <%= link_to ban_admin_company_path(c), method: :ban, data: {confirm:"您確定要停權該企業嗎？"}, :class => "btn btn-danger btn-xs" do %>
                <i class="fa fa-ban"></i>
                <span>停權</span> 
              <% end %>
            <% else c.account_status != 'open' %>
              <%= link_to ban_admin_company_path(c), method: :ban, data: { confirm:"您確定要開放該企業嗎？" }, :class => "btn btn-warning btn-xs" do %>
                <i class="fa fa-check"></i>
                <span>開放</span> 
              <% end %>
            <% end %>

            <%= link_to admin_company_path(c), method: :delete, data: { confirm:"您確定要刪除該企業嗎？" }, :class => "btn btn-fail btn-xs" do %>
              <i class="fa fa-trash"></i>
              <span>刪除</span>
            <% end %>

            <%#記得要寫path%>
        </tr>
      <% end %>
    </tbody>
  </table>  

</div>
<div class="col-sm-1"></div>

