<p>安安這是管理者的後台喔！</p>

<%= link_to "新增公司", new_admin_company_path %>

<br>



<br>
<% @jobs.each do |job| %>
  <%= job.name %>
  <% if job.content != nil %>
    <%= job.content %>
  <% else %>
    <span>沒有</span>
  <% end %>
  <br>
<% end %>

<table class="table table-bordered">
  <% @company.each do |c|%>
    <tr>
      <td>
        <%= link_to admin_company_path(c) do %>
          <%= c.name%>
        <%end%>
      </td>
      <td>
        <%= link_to "編輯公司", edit_admin_company_path(c) %>
      </td>
      <td>
        
      <%= link_to c.name, edit_admin_company_path(c) %>
      </td>
      <td>
        <%= link_to "將此公司停權", ban_admin_company_path(c),method: :ban,data:{confirm:"您確定要停權嗎？(在公司要新增職缺時，要檢查該公司有無被ban，看account status)"} %> 
        <%#要做停權，禁止公司可以新增職缺%>
      </td>
      <td>
        <%= link_to "刪除此家公司", admin_company_path(c),method: :delete,data:{confirm:"您確定要刪除嗎？"} %> 
        <%#記得要寫path%>
    </tr>
  <% end %>
</table>