<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="page-title">
    <h2><%= @job.name %></h2>
    <div class="bolded-line"></div>
    <div class="job-content-submenu">
      <% if current_user %>
            <% if !current_user.is_fan_of?(@job) %>
              <%= link_to favorite_job_path(@job), :class => "btn btn-danger btn-sm", method: :post do %>
                <i class="fa fa-heart-o"></i>
                  <span>&nbsp;收藏</span>
              <% end %>
            <% else %>
              <%= link_to unfavorite_job_path(@job), :class => "btn btn-danger btn-sm", method: :post do %>
                <i class="fa fa-heart"></i>
                  <span>&nbsp;已收藏</span>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to favorite_job_path(@job), :class => "btn btn-danger btn-sm", method: :post do %>
                <i class="fa fa-heart-o"></i>
                  <span>&nbsp;收藏</span>
              <% end %>
      <% end %>&nbsp;
      <%= link_to check_resume_company_job_path(@job.company,@job), :class => "btn btn-success btn-sm" do %>
        <i class="fa fa-paper-plane-o"></i>
        <span>&nbsp;應徵</span>
      <% end %>
    </div>
    <!-- #### -->
  </div>

  <div class="article-info">
    <span>
        <i class="fa fa-building">&nbsp;
            <%= link_to company_path(@job.company) do %>
                <%= @job.company.name %>
            <% end %>
        </i>
        <i class="fa fa-calendar">&nbsp;
            <%= @job.published_on %>
        </i>
    </span>

    <span class="pull-right">
        <i class="fa fa-eye">&nbsp;
            <%= @job.views_count %>
        </i>
        <i class="fa fa-paper-plane-o">&nbsp;
            總應徵次數
        </i>
        <!--<i class="fa fa-heart">&nbsp;
            總收藏次數
        </i>-->
    </span>

    <div class="job-page-tag">
      <i class="fa fa-tag">&nbsp;
        <% @tag.each do |d| %>
          <%= link_to do %><%= d.name %><% end %>&nbsp;&nbsp;  
        <% end %>
      </i>
    </div>
  </div>

  <ul class="article-page-content">
    <li>
      <i class="fa fa-info-circle fa-fw"></i><span>&nbsp;&nbsp;工作內容：
      <div style="line-height: 30px; margin-top: 10px; margin-left: 28px;">
        <%= @job.content %></span>
      </div>
    </li>

    <li>
      <i class="fa fa-dollar fa-fw"></i><span>&nbsp;&nbsp;薪資待遇：<%= @job.salary %></span>
    </li>
  </ul>

  <br><br>
  <div class="page-title">
    <h2>此企業其他職缺</h2>
    <div class="bolded-line"></div>
  </div>

    <ul class="job">
      <% @job.company.jobs.each do |job| %>
          <li class="company-job-block">
            <div class="job-title">
              <%= link_to job_path(job) do %>
                <%= job.name %>
              <% end %>
            </div>
            <div class="job-content">
              <%= job.content %>
            </div>
            <div class="job-tag">
              <i class="fa fa-tag">&nbsp;
                <%# tag = job.tag.split(',') %>
                <% tag.each do |tag| %>
                  <%= link_to do %><%= tag %><% end %>&nbsp;  
                <% end %>
              </i>
            </div>
            <span class="job-view">
              <i class="fa fa-eye"></i>&nbsp;
              <%= job.views_count %>
            </span>
            <div class="job-submenu clearfix">
              <%= link_to check_resume_company_job_path(job.company,job), :class => "btn btn-success btn-xs pull-right" do %>
                <i class="fa fa-paper-plane-o"></i>
                <span>&nbsp;應徵</span>
              <% end %>
              <!-- ### -->
              <% if current_user %>
                 <% if !current_user.is_fan_of?(job) %>
                   <%= link_to favorite_job_path(job), :class => "btn btn-danger btn-xs pull-right", method: :post do %>
                     <i class="fa fa-heart-o"></i>
                      <span>&nbsp;收藏</span>
                   <% end %>
                 <% else %>
                   <%= link_to unfavorite_job_path(job),:class => "btn btn-danger btn-xs pull-right", method: :post do %>
                     <i class="fa fa-heart"></i>
                     <span>&nbsp;已收藏</span>
                   <% end %>
                 <% end %>
               <% else %>
                 <%= link_to favorite_job_path(job),:class => "btn btn-danger btn-xs pull-right", method: :post do %>
                     <i class="fa fa-heart-o"></i>
                     <span>&nbsp;收藏</span>
                   <% end %>
               <% end %> 
              <!-- ### -->
            </div>
          </li>
      <% end %>
    </ul>
  </div>

</div>
<div class="col-sm-2"></div>

