<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="page-title">
    <h2><%= @job.name %></h2>
    <div class="bolded-line"></div>
    <%= link_to check_resume_company_job_path(@job.company,@job), :class => "btn btn-success btn-sm" do %>
      <i class="fa fa-paper-plane-o"></i>
      <span>&nbsp;應徵</span>
    <% end %>
    <!--
    <%= link_to check_resume_company_job_path(@job.company,@job), :class => "btn btn-success btn-sm" do %>
      <i class="fa fa-heart"></i>
      <span>&nbsp;收藏</span>
    <% end %>
    -->
  </div>

  <div class="article-info">
    <span>
        <i class="fa fa-building">&nbsp;
            <%= link_to company_path(@job.company) do %>
                <%= @job.company.name %>
            <% end %>
        </i>
        <i class="fa fa-calendar">&nbsp;
            <%= @job.published_on %>
        </i>
    </span>

    <span class="pull-right">
        <i class="fa fa-eye">&nbsp;
            <%= @job.views_count %>
        </i>
        <i class="fa fa-paper-plane-o">&nbsp;
            總應徵次數
        </i>
        <i class="fa fa-heart">&nbsp;
            總收藏次數
        </i>
    </span>

    <div class="job-page-tag">
      <i class="fa fa-tag">&nbsp;
        <% @tag.each do |d| %>
          <%= link_to do %><%= d.name %><% end %>&nbsp;&nbsp;  
        <% end %>
      </i>
    </div>
  </div>

  <div class="article-page-content">
    <h3>工作內容</h3>
    <%= @job.content %><br>
    <%= @job.salary %>
  </div>

  <br><br>
  <div class="page-title">
    <h2>此企業其他職缺</h2>
    <div class="bolded-line"></div>
  </div>

    <div>
      <% @job.company.jobs.each do |job| %>
        <div class="col-md-6">
          <div class="company-job-block">
            <h4>
              <%= link_to job_path(job) do %>
                <%= job.name %>
              <% end %>
              <div class="pull-right" style="font-size: 16px;">
                <i class="fa fa-heart heart-icon-like" aria-hidden="true"></i>
              </div>  
            </h4>
            <p><%= job.company.name %></p>
            <div class="company-job-content">
              <p><%= job.content %></p>
            </div>
            <i class="fa fa-building"></i>
            <% tag.each do |tag| %>
              <%= tag %>
            <% end %> 
            <%= link_to "應徵", check_resume_company_job_path(job.company,job) %>  
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
<div class="col-sm-2"></div>

