<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="unit">
    <div class="page-title">
      <h2>編輯文章</h2>
      <div class="bolded-line"></div>
    </div>
    <br>
    <%= form_for @article,:url => enterprise_company_article_path(@company,@article), :method => :PATCH do |f| %>
      <div>
        <%= f.label :title, "標題" %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :content, "內容" %>
        <%= f.text_area :content %>
      </div>
      <div class="login">
        <%= f.submit "修改", :class => "button btn-success medium" %>
        <%= link_to '返回', enterprise_company_articles_path, :class => "button btn-fail medium" %>
			</div>
    <% end %>
  </div>
</div>
<div class="col-sm-2"></div>