<p>新增文章</p>

<%= form_for @article ,:url => enterprise_company_articles_path(@company), :method => :post do |j|%>
  <%= j.label "文章標題： " %>
  <%= j.text_field :title%>
  <br>
  <%= j.label "文章內容： " %>
  <%= j.text_area :content %>
  <br>
  <%= j.submit "確認"%>
  <%= link_to "取消", enterprise_company_articles_path %>
<% end %>