<div class="col-sm-1"></div>
<div class="col-sm-10">
  <div class="page-title">
    <h2>職缺管理</h2>
    <div class="bolded-line"></div>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>職缺名稱</th>
        <th>職缺內容</th>
        <th>所屬企業</th>
        <th>應徵次數</th>
        <th>收藏次數</th>
        <th>應徵人員</th>
      </tr>
    </thead>
    <tbody>

      <% @jobInfos.each do |jobInfo| %>

        <% resumesStr = "" %>
        
        <% jobResume = @jobResumes[jobInfo.id.to_s.to_sym] %>

        <% if jobResume != nil %>
          <% print("@@@@@@@@@@@@@@---"+jobResume.to_s+"---@@@@@@@@@@@@@@@@@@") %>
          
          <% jobResume.each do |resume| %>
            <%#= resume.name %>
            <% resumesStr += resume.name.to_s  %>
          <% end %>
          <% resumeCount = jobResume.count %>
        <% else%>
          <% resumeCount = 0 %>
        <% end %>
      
      <tr>
        <td><%= jobInfo.name %></td>
        <td><%= jobInfo.content %></td>
        <td><%= jobInfo.companyName  %></td>
        <td><%= resumeCount %></td>
        <td><%=  %></td>
        <td><%= resumesStr %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-sm-1"></div>