<div class="col-md-6">
  <div class="company-job-block">
    <h4>
      <%= link_to job_path(job) do %>
        <%= job.name %>
      <% end %>
      <div class="pull-right" style="font-size: 16px;">
        <i class="fa fa-heart heart-icon-like" aria-hidden="true"></i>
      </div>  
    </h4>
    <p><%= job.content %></p>
    <% tag = job.tag.split(',') %>
    <i class="fa fa-building"></i>
    <% tag.each do |tag| %>
      <%= tag %>
    <% end %> 
    <%= link_to "應徵", check_resume_company_job_path(@company,job) %>  
  </div>
</div>