<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="page-title">
    <h2>我的收藏</h2>
    <div class="bolded-line"></div>
  </div>

  <div class="panel-group follow-item">
    <div class="panel panel-default">
        <div class="panel-heading">企業</div>
        <div class="panel-body">

            <% if !@companycollect.present? %>

            尚未收藏企業，立即點選
            <%= link_to companies_path do %>所有企業<% end %>
            將有興趣的企業加入收藏。

            <% else %>
            <% @companycollect.each do |c| %>
            <ul>
                <li>
                    <div class="collect">
                        <%= link_to company_unfavorite_path(c.companyId), method: :post do %>
                            <i class="fa fa-heart"></i>
                        <% end %>
                    </div>
                    <%= link_to company_path(c.companyId) do %>
                        <%= c.companyName %>
                    <% end %>
                </li>
            </ul>
            <% end %>
            <% end %>
        </div>
    </div>
  </div>

  <div class="panel-group follow-item">
    <div class="panel panel-default">
        <div class="panel-heading">職缺</div>
        <div class="panel-body">
            
            <% if !@jobcollect.present? %>

            尚未收藏職缺，立即點選
            <%= link_to jobs_path do %>所有職缺<% end %>
            將有興趣的職缺加入收藏。
           
            <% else %>

            <% @jobcollect.each do |d| %>
            <ul>
                <li>
                    <div class="collect">
                        <%= link_to unfavorite_job_path(d.jobId), method: :post do %>
                            <i class="fa fa-heart"></i>
                        <% end %>
                    </div>
                    <%= link_to job_path(d.jobId) do %>
                        <%= d.jobName %>
                    <% end %>
                    <span class="pull-right"><%= d.companyName %></span>
                </li>
            </ul>

            <% end %>
            <% end %>

        </div>
    </div>
  </div>

  <div class="panel-group follow-item">
    <div class="panel panel-default">
        <div class="panel-heading">文章</div>
        <div class="panel-body">
           <% if !@articlecollect.present? %>
            尚未收藏文章，立即點選
            <%= link_to articles_path do %>所有文章<% end %>
            將有興趣的文章加入收藏。
           
            <% else %>

            <% @articlecollect.each do |a| %>
            <ul>
                <li>
                    <div class="collect">
                        <%= link_to unfavorite_article_path(a.articleId), method: :post do %>
                            <i class="fa fa-heart"></i>
                        <% end %>
                    </div>
                    <%= link_to article_path(a.articleId) do %>
                        <%= a.articleTitle %>
                    <% end %>
                    <span class="pull-right"><%= a.companyName %></span>
                </li>
            </ul>

            <% end %>
            <% end %>

            
        </div>
    </div>
  </div>

</div>
<div class="col-sm-2"></div>