<div class="col-sm-2"></div>
<div class="col-sm-8">

  <div class="page-title">
    <h2>熱門企業</h2>
    <div class="bolded-line"></div>
  </div>
  <% @companies.each do |company| %>
    <div class="col-sm-4 home-company-block">
      <div>
        <% if company.logo_url %>
          <%= image_tag company.logo_url , width:'50px' %>
        <% end %>
        <%= link_to company.name, company_path(company) %>
        <br>
        <p>
          <%= company.about %>
        </p>
      </div>
    </div>
  <%end%>
  <br><br>
  <div class="page-title">
    <h2>熱門職缺</h2>
    <div class="bolded-line"></div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>公司名稱</th>
        <th>職缺</th>
        <th>標籤</th>
        <th>應徵</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |j| %>
        <tr>
          <th><%= j.company.name%></th>
          <th><%= j.name%></th>
          <th>

          <% tag = j.tag.split(',') %>
          <% tag.each do |tag| %>
          <%= tag %>
          <% end %> 

          </th>
          <th><%= link_to "應徵", check_resume_company_job_path(j.company,j) %></th> 
        </tr>
      <% end %>
    </tbody>
  </table>  
  <br><br>
  <div class="page-title">
    <h2>熱門文章</h2>
    <div class="bolded-line"></div>
  </div>
</div>
<div class="col-sm-2"></div>