<div class="col-sm-2"></div>
<div class="col-sm-8">

  <div class="page-title">
    <h2>熱門企業</h2>
    <div class="bolded-line"></div>
    <%= link_to companies_path, :class => "btn btn-success btn-sm" do %>
      <i class="fa fa-th-list"></i>
      <span>&nbsp;查看全部</span>
    <% end %>
  </div>

  <ul class="company clearfix">
    <% @companies.each do |company| %>
    <li>
      <%= image_tag company.logo_url ,class: 'pull-left' if company.logo_url %>
      <div class="company-title">
        <%= link_to company_path(company) do %>
          <%= company.name %>
        <% end %>
      </div>
      <div class="company-content">
        <%= company.about %>
      </div>
      <span class="company-view">
        <i class="fa fa-eye"></i>&nbsp;
        <%= company.views_count %>
      </span>
      <%= link_to root_path, :class => "btn btn-danger btn-xs pull-right" do %>
        <i class="fa fa-heart"></i>
        <span>&nbsp;收藏</span>
      <% end %>
    </li>
    <% end %>
  </ul>

  <br><br><br>

  <div class="page-title">
    <h2>熱門職缺</h2>
    <div class="bolded-line"></div>
    <%= link_to jobs_path, :class => "btn btn-success btn-sm" do %>
      <i class="fa fa-th-list"></i>
      <span>&nbsp;查看全部</span>
    <% end %>
  </div>

  <ul class="job clearfix">
    <% @jobs.each do |j| %>
    <li>
      <div class="job-company">
        <%= image_tag j.company.logo_url ,class: 'pull-left' if j.company.logo_url %>
        <%= link_to company_path(j.company) do %><%= j.company.name %><% end %> 
      </div>
      <div class="job-title">
        <%= link_to job_path(j) do %>
          <%= j.name %>
        <% end %>
      </div>
      <div class="job-content">
        <%= j.content %>
      </div>
      <div class="job-tag">
        <i class="fa fa-tag">&nbsp;
          <% tag = j.tag.split(',') %>
          <% tag.each do |tag| %>
            <%= link_to do %><%= tag %><% end %>&nbsp;  
          <% end %>
        </i>
      </div>
      <span class="job-view">
        <i class="fa fa-eye"></i>&nbsp;
        <%= j.views_count %>
      </span>
      <div class="job-submenu">
        <%= link_to check_resume_company_job_path(j.company,j), :class => "btn btn-success btn-xs pull-right" do %>
          <i class="fa fa-paper-plane-o"></i>
          <span>&nbsp;應徵</span>
        <% end %>
        <%= link_to root_path, :class => "btn btn-danger btn-xs pull-right" do %>
          <i class="fa fa-heart"></i>
          <span>&nbsp;收藏</span>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
  <br><br><br>

  <div class="page-title">
    <h2>熱門文章</h2>
    <div class="bolded-line"></div>
    <%= link_to articles_path, :class => "btn btn-success btn-sm" do %>
      <i class="fa fa-th-list"></i>
      <span>&nbsp;查看全部</span>
    <% end %>
  </div>
  <ul class="article">
    <% @articles.each do |article| %>
    <li>
      <div>
        <%= link_to article_path(article) do %>
          <%= image_tag article.banner_url(:image), style:"width:100%;" if article.banner_url %>
        <% end %>
      </div>
      <div style="padding: 15px;">
        <div class="article-title">
          <%= link_to article.title , article_path(article) %>
        </div>
        <div class="article-content">
          <%= simple_format(article.content) %> 
        </div>
      <span class="article-view">
        <i class="fa fa-eye"></i>&nbsp;
        <%= article.view_count %>
      </span>
      <%= link_to root_path, :class => "btn btn-danger btn-xs pull-right" do %>
        <i class="fa fa-heart"></i>
        <span>&nbsp;收藏</span>
      <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<div class="col-sm-2"></div>