<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="page-title">
    <h2>企業總覽</h2>
    <div class="bolded-line"></div>
  </div>
  <div class="company-search-block clearfix">
    <%= form_tag companies_path, method: :get, class:'clearfix' do %>
      <div class="col-sm-5">
        <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
      </div>
      <div class="col-sm-2 company-search-btn">
        <%= submit_tag "搜尋", name: nil , class:'button btn-success small' %>
      </div>
    <% end %>
  </div>

  <ul class="company clearfix">
    <% @companies.each do |company| %>
    <li>
      <%= image_tag company.logo_url ,class: 'pull-left' if company.logo_url %>
      <div class="company-title">
        <%= link_to company_path(company) do %>
          <%= company.name %>
        <% end %>
      </div>
      <div class="company-content">
        <%= company.about %>
      </div>
      <span class="company-view">
        <i class="fa fa-eye"></i>&nbsp;
        <%= company.views_count %>
      </span>
      
       <% if current_user %>
        <% if !current_user.is_company_fan_of?(company.id,current_user.id).present? %>
          <%= link_to company_favorite_path(company), :class => "btn btn-danger btn-xs pull-right", method: :post do %>
            <i class="fa fa-heart-o"></i>
            <span>&nbsp;收藏</span>
          <% end %>              
        <% else %>
          <%= link_to company_unfavorite_path(company),:class => "btn btn-danger btn-xs pull-right", method: :post do %>
            <i class="fa fa-heart"></i>
            <span>&nbsp;已收藏</span>
          <% end %>              
        <% end %>
      <% else %>
        <%= link_to company_favorite_path(company),:class => "btn btn-danger btn-xs pull-right", method: :post do %>
          <i class="fa fa-heart-o"></i>
          <span>&nbsp;收藏</span>
          <% end %>
      <% end %> 

    </li>
    <% end %>
  </ul>
</div>
<div class="col-sm-2"></div>