<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="page-title">
    <h2>企業總覽</h2>
    <div class="bolded-line"></div>
  </div>
  <div class="company-search-block clearfix">
    <%= form_tag companies_path, method: :get, class:'clearfix' do %>
      <div class="col-sm-5">
        <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
      </div>
      <div class="col-sm-2 company-search-btn">
        <%= submit_tag "Search", name: nil , class:'btn btn-success'%>
      </div>
    <% end %>
  </div>

  <ul class="company clearfix">
    <% @companies.each do |company| %>
    <li>
      <%= image_tag company.logo_url ,class: 'pull-left' if company.logo_url %>
      <div class="company-title">
        <%= link_to company_path(company) do %>
          <%= company.name %>
        <% end %>
      </div>
      <div class="company-content">
        <%= company.about %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<div class="col-sm-2"></div>