<div>
  <%= j.label :name, "職缺名稱" %>
  <%= j.text_field :name %>
</div>
<div>
  <%= j.label :published_on, "發佈日期" %>
  <%= j.date_field :published_on %>
</div>
<div>
  <%= j.label :content, "職缺內容" %>
  <%= j.text_area :content %>
</div>
<div>
  <%= j.label :salary, "待遇" %>
  <%= j.text_field :salary %>
</div>
  
  
