<%= link_to "新增職缺", new_enterprise_company_job_path(@company) %>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>職稱</th>
      <th>公司名稱</th>
      <th>發表日期</th>
      <th>時薪</th>
      <th>描述</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <th><%= job.name %></th>
        <th><%= job.company.name %> </th>
        <th><%= job.published_on %> </th>
        <th><%= job.hour_salary_floor %> ~ <%= job.hour_salary_ceiling %></th>
        <th><%= job.content %></th>
        <th><%= link_to "詳細內容", enterprise_company_job_path(@company,job) %></th>
        <th><%= link_to "編輯職缺", edit_enterprise_company_job_path(@company,job) %></th>
        <th><%= link_to "刪除職缺", enterprise_company_job_path(@company,job), :method => :delete, :data => { :confirm => "Are you sure?" }  %></th> 
      </tr>
    <%end%>
  </tbody>
</table>

