<div class="col-sm-1"></div>
<div class="col-sm-10">
  <p>關閉/開放職缺的按鈕我做好了，再麻煩寫這部分程式的人去控制何時要顯示哪一個</p><br>

  <div class="page-title">
    <h2>職缺管理</h2>
    <div class="bolded-line"></div>
    <%= link_to new_enterprise_company_job_path(@company), :class => "btn btn-success btn-sm" do %>
      <i class="fa fa-plus"></i>
      <span>&nbsp;新增職缺</span>
    <% end %>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>職缺名稱</th>
        <th>職缺內容</th>
        <th>待遇</th>
        <th>刊登日期</th>
        <th style="width: 320px"></th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>
            <%= job.name %>
          </td>
          <td>
            <%= job.content %>
          </td>
          <td>
            <%= job.salary %>
          </td>
          <td>
            <%= job.published_on %>
          </td>
          <td>
            <%= link_to enterprise_company_job_path(@company,job), :class => "btn btn-success btn-xs" do %>
              <i class="fa fa-eye"></i>
              <span>查看詳細內容</span>
            <% end %>

            <%= link_to edit_enterprise_company_job_path(@company,job), :class => "btn btn-primary btn-xs" do %>
              <i class="fa fa-edit"></i>
              <span>編輯</span>
            <% end %>

            <%= link_to enterprise_company_jobs_path(current_user.company), :class => "btn btn-danger btn-xs" do %>
              <i class="fa fa-ban"></i>
              <span>關閉</span>
            <% end %>

            <%= link_to enterprise_company_jobs_path(current_user.company), :class => "btn btn-warning btn-xs" do %>
              <i class="fa fa-check"></i>
              <span>開放</span>
            <% end %>

            <%= link_to enterprise_company_job_path(@company,job), :method => :delete, data: { confirm:"您確定要刪除該職缺嗎？" }, :class => "btn btn-fail btn-xs" do %>
              <i class="fa fa-trash"></i>
              <span>刪除</span>
            <% end %>
          </td>
      <% end %>
    </tbody>
  </table>  

</div>
<div class="col-sm-1"></div>