<div>
  <ul>
    <li>
      <span>職缺名稱</span>
      <%= @job.name %>
    <li>
    <li>
      <span>這裡讓你改標籤喔～～～～～～～</span>
        <% @tag.each do |d| %>
        <%= d.name %>
        <% end %>
    </li>
    <li>
      <span>刊登日期</span>
      <%= @job.published_on %>
    </li>
    <li>
      <span>職位內容</span>
      <%= @job.content %>
    </li>
    <li>
      <span>薪資待遇</span>
      <%= @job.salary %>
    </li>
  </ul>
</div>

<br>
<br>
<br>
<br>

<h4>投遞此職位的人</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>信箱</td>
      <td>履歷</td>
    </tr>
  </thead>
  <tbody>
    <% @job.resumes.each do |resume|%>
      <tr>
        <td><%= resume.user.email %></td>
        <td><%= link_to resume.name, resume.attachment_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  

