<div class="col-sm-1"></div>
<div class="col-sm-10">
  <div class="page-title">
    <h2>應徵紀錄</h2>
    <div class="bolded-line"></div>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>應徵者</th>
        <th>應徵企業</th>
        <th>應徵職缺</th>
        <th>應徵日期</th>
        <th style="width: 120px"></th>
      </tr>
    </thead>
    <tbody>
      <% @resumeJobships.each do |resumeJobship| %>
        <tr>
          <td><%= resumeJobship.resume.user.email %></td>
          <td><%= resumeJobship.job.company.name%></td>
          <td><%= resumeJobship.job.name%></td>
          <td><%= resumeJobship.created_at.localtime.strftime("%Y/%m/%d %H:%M") %></td>
          <!--resumeJobship.resume.name-->
          <td>
            <%= link_to resumeJobship.resume.attachment_url, target: "_blank", :class => "btn btn-success btn-xs" do %>
              <i class="fa fa-file-text-o"></i>
              <span>查看履歷</span>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>  

</div>
<div class="col-sm-1"></div>