<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="page-title">
    <h2>管理者管理</h2>
    <div class="bolded-line"></div>
    <%= link_to new_admin_user_path, :class => "btn btn-success btn-sm" do %>
      <i class="fa fa-plus"></i>
      <span>&nbsp;新增管理者</span>
    <% end %>
    </div>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>管理者 Email</th>
          <th style="width: 120px"></th>
        </tr>
      </thead>
      <tbody>
        <% @admin_users.each do |u| %>
          <tr>
            <td><%= u.email %></td>
            <td>
              <%= link_to admin_remove_admin_path(u), method: :patch ,
                                                      class:'btn btn-danger btn-xs', data: { confirm:"您確定要踢出該管理者嗎？" } do %>
                <i class="fa fa-ban"></i>
                <span>踢出管理者</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<div class="col-sm-2"></div>

<!--
<div class="col-sm-12">
  <h3>新增Admin User</h3>
  <%= form_tag admin_set_admin_path, method: :patch do %>
    <% cities_array = User.where(role: nil).map { |city| [city.email, city.id] } %>
    <%= select_tag "user_id", options_for_select(cities_array) %>
    <%= submit_tag "確認" %>
  <% end %>
</div>
-->