<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="unit">
    <div class="page-title">
      <h2>編輯企業資訊</h2>
      <div class="bolded-line"></div>
    </div>
    <br>
    <%= form_for @company,:url => enterprise_company_path(@company), method: :put do |c| %>
      <div>
        <%= c.label :name, "企業名稱" %>
        <%= c.text_field :name%>
      </div>
      <div>
        <%= c.label :phone, "聯絡電話" %>
        <%= c .text_field :phone %>
      </div>
      <div>
        <%= c.label :email, "Email" %>
        <%= c.text_field :email %>
      </div>
      <div>
        <%= c.label :address, "聯絡地址" %>
        <%= c.text_field :address %>
      </div>
      <div>
        <%= c.label :about, "關於" %>
        <%= c.text_field :about %>
      </div>
      <div>
        <%= c.label :logo, '上傳公司logo'%>
        <%= c.file_field :logo, accept: 'image/png,image/jpeg'%>
      </div>
      <div class="login">
        <%= c.submit "修改", :class => "button btn-success medium" %>
        <%= link_to '返回', enterprise_companies_path, :class => "button btn-fail medium" %>
			</div>
    <% end %>
  </div>
</div>
<div class="col-sm-2"></div>