<p>編輯公司內容</p>

<%= form_for @company,:url => enterprise_company_path(@company), method: :put do |c| %>
  <%= c.label "公司名稱: " %>
  <%= c.text_field :name%>
  <br>
  <%= c.label "電話: " %>
  <%= c.text_field :phone %>
  <br>
  <%= c.label "地址: " %>
  <%= c.text_field :address %>
  <br>
  <%= c.label "信箱： " %>
  <%= c.text_field :email%>
  <br>
  <%= c.label "關於這家公司： " %>
  <%= c.text_field :about %>
  <br>

  <%= c.submit "確認更改"%>
  <%= link_to "取消更改", enterprise_companies_path %>
<% end %>