<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="unit">
        <div class="page-title">
            <h2>企業資訊</h2>
            <div class="bolded-line"></div>
            <%= link_to edit_enterprise_company_path(@company), :class => "btn btn-success btn-sm" do %>
            <i class="fa fa-edit"></i>
            <span>&nbsp;編輯資訊</span>
            <% end %>
        </div>

        <div class="col-sm-7 company-info">
            <ul>
                <li>
                    <span>名稱</span>
                    <%= @company.name %>
                </li>
                <li>
                    <span>聯絡電話</span>
                    <%= @company.phone %>
                </li>
                <li>
                    <span>聯絡地址</span>
                    <%= @company.address %>
                </li>
                <li>
                    <span>Email</span>
                    <%= @company.email %>
                </li>
                <li>
                    <span>公司規模</span>
                    <%= @company.scale %> 人
                </li>
                <li>
                    <span>簡介</span>
                    <%= @company.about %>
                </li>
                 <li>
                    <span>瀏覽次數</span>
                    <%= @company.views_count %> 次
                </li>
                 <li>
                    <span>應徵次數</span>
                     次
                </li>
                 <li>
                    <span>收藏次數</span>
                     次
                </li>

            </ul>
        </div>

        <div class="col-sm-5">
            <div style="height: 225px; width: 225px; border:1px solid lightgrey;">
                <% if @company.logo_url %>
                  <%= image_tag @company.logo_url , width:'100%' %>
                <% else %>
                  <p>尚未上傳公司logo喔～</p>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-2"></div>