<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="page-title">
    <h2>個人履歷</h2>
    <div class="bolded-line"></div>
  </div>
  <% if !@resume.errors.empty? %>
    <div class="alert alert-error">
      <ul>
        <% @resume.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= link_to "投遞紀錄", user_record_path(current_user) %>

  <p>上傳履歷</p>
  <%# if current_user.resumes.count <= 3 %>
    <div class="well">
      <%= form_for @resume,:url => user_resumes_path(current_user.id), method: :post do |f| %>
        <%= f.label :履歷名稱 %>
        <%= f.text_field :name %>
        <%= f.label :關於自己 %>
        <%= f.text_field :content %>
        <%= f.label :履歷 %>
        <%= f.file_field :attachment %>
        <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
    </div>
  <%# end %>

  <div>
    <p>個人履歷</p>
    <% @resumes.each do |resume| %>
      <h3><%= link_to resume.name, resume.attachment_url %></h3>
      <%= resume.content %>
      <br>
    <% end %>
  </div>

</div>
<div class="col-sm-2"></div>