<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="page-title">
    <h2>應徵紀錄</h2>
    <div class="bolded-line"></div>
  </div>

  <% if @resumeJobships.present? %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>應徵企業</th>
        <th>應徵職缺</th>
        <th>應徵時間</th>
        <th style="width: 120px"></th>
      </tr>
    </thead>
    <tbody>
      <% @resumeJobships.each do |resumeJobship| %>
        <tr>
          <td>
            <%= link_to company_path(resumeJobship.job.company) do %>
              <%= resumeJobship.job.company.name%>
            <% end %>
          </td>
          <td>
            <%= link_to job_path(resumeJobship.job) do %>
              <%= resumeJobship.job.name%>
            <% end %>
          </td>
          <td><%= resumeJobship.created_at.localtime.strftime("%Y/%m/%d %H:%M") %></td>
          <td>
            <%= link_to resumeJobship.resume.attachment_url, target: "_blank", :class => "btn btn-success btn-xs" do %>
              <i class="fa fa-file-text-o"></i>
              <span>查看履歷</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <p>目前尚無履歷投遞！</p>
  <% end %>
</div>
<div class="col-sm-2"></div>