<h2>後台管理</h2>
<ul>
  <li>
    <%= link_to home_path do %>
      <i class="fa fa-building"></i>
      <span>&nbsp;企業管理</span>
    <% end %>
  </li>
  <li>
    <%= link_to admin_jobs_path do %>
      <i class="fa fa-suitcase"></i>
      <span>&nbsp;職缺管理</span>
    <% end %>
  </li>
  <li>
    <%= link_to admin_record_path do %>
      <i class="fa fa-paper-plane-o"></i>
      <span>&nbsp;應徵紀錄</span>
    <% end %>
  </li>
  <li>
    <%= link_to admin_articles_path do %>
      <i class="fa fa-newspaper-o"></i>
      <span>&nbsp;文章管理</span>
    <% end %>
  </li>
  <li>
    <%= link_to admin_users_path do %>
      <i class="fa fa-user"></i>
      <span>&nbsp;使用者管理</span>
    <% end %>
  </li>
</ul>