<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "FindJobs", root_path, :class => "navbar-brand" %>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/">企業</a></li>
      <li><a href="/">職缺</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user && current_user.role != nil %>
        <li>
          <%= link_to "後台管理", home_path %>
        </li>
      <% end %>

      <% if current_user && current_user.company != nil %>
        <li>
          <%= link_to "企業管理", enterprise_companies_path %>
        </li>
      <% end %>

      <% if current_user %>
        <li>
          <%= link_to "會員管理", edit_user_registration_path %>
        </li>
      <% end %>

      <% if current_user %>
        <li><%= link_to "登出", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "登入 / 註冊", user_session_path %></li>
        <!--<li><%= link_to "註冊", new_user_session_path %></li>-->
      <% end %>
    </ul>
  </div>
</nav>