<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "FindJobs", root_path, :class => "navbar-brand" %>
    </div>
  
    <ul class="nav navbar-nav">
      <li>
        <%= link_to companies_path do %>
          <i class="fa fa-building"></i>
          <span>&nbsp;企業</span>
        <% end %>
      </li>
      <li>
        <%= link_to jobs_path do %>
          <i class="fa fa-suitcase"></i>
          <span>&nbsp;職缺</span>
        <% end %>
      </li>
      <li>
        <%= link_to articles_path do %>
          <i class="fa fa-newspaper-o"></i>
          <span>&nbsp;文章</span>
        <% end %>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user && current_user.role != nil %>
        <li>
          <%= link_to home_path do %>
            <i class="fa fa-wrench"></i>
            <span>&nbsp;後台管理</span>
          <% end %>
        </li>
      <% end %>

      <% if current_user && current_user.company != nil %>
        <li>
          <%= link_to enterprise_companies_path do %>
            <i class="fa fa-wrench"></i>
            <span>&nbsp;企業管理</span>
          <% end %>
        </li>
      <% end %>

      <% if current_user %>
        <li class="dropdown">
          <%= link_to root_path, :'data-toggle' => 'dropdown', :class => 'dropdown-toggle' do %>
            <i class="fa fa-user"></i>
            <span>&nbsp;<%= current_user.name %></span>
            <b class="caret"></b>
          <% end %>

          <ul class="dropdown-menu">
            <li>
              <%= link_to new_user_resume_path(current_user) do %>
                <i class="fa fa-fw fa-edit"></i>
                <span>&nbsp;編輯履歷</span>
              <% end %>
            </li>
            <li>
              <%= link_to user_collect_path(current_user) do %>
                <i class="fa fa-fw fa-heart"></i>
                <span>&nbsp;我的收藏</span>
              <% end %>
            </li>
            <li>
              <%= link_to user_record_path(current_user) do %>
                <i class="fa fa-fw fa-paper-plane-o"></i>
                <span>&nbsp;應徵紀錄</span>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-fw fa-cog"></i>
                <span>&nbsp;帳號設定</span>
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to '<i class="fa fa-fw fa-sign-out"></i><span>&nbsp;&nbsp;登出</span>'.html_safe, destroy_user_session_path, :method => :delete %>
            </li>
          </ul>
      <% else %>
        <li>
          <%= link_to user_session_path do %>
            <i class="fa fa-user"></i>
            <span>&nbsp;登入 / 註冊</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>