<!DOCTYPE html>
<html>
  <head>
    <title>FindJobs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <div class="enterprise-block">
      <div class="enterprise-sidebar">
        <%= render "layouts/enterprise_sidebar" %>
      </div>
      <div class="enterprise-container">
        <%= yield %>      
      </div>
    </div>
  </body>
</html>
